@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: "Amador";
  src: url("3539-font-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
